QWidget {
    background-color: #F2F1F0;
    }

QWidget > QPushButton
{
    background-color: gray;
    border-style: outset;
    border-width: 2px; 
    border-color:gray;
    color:white;
}
QSpinBox {
    background-color:white;
    color: #646464;
}
QPushButton:disabled {
    background-color: darkgray;
    border-color:darkgray;
}
QPushButton:hover
{
    background-color: #5E5E5E;
    border-color:gray;
}
QLineEdit {
    background-color:white;
    color: #646464;
}
#Banner {
        background-color:#c2050b;
        border-color:#525662;
}
ClickableLabel, #lblMergedImage {
    background-color:white;
}
#LogoFrame {
        background-image: url(://logo);
        border: 0px;
}
#Banner > #HeaderLabel{
    background-color:#c2050b;
    color:#f9ffff;;
}

#spinBox{
    background-color:white;
}
QLabel {
    color:#646464;
}
